h1{
	font-size: 35px;
    text-align: center;
}

.curates{

  display: inline-block;
}


.newsFeed{
	border-style:blue; 
}

.wassup{
	border: 3px solid black
	color: yellow;
}
.feed{
	margin-top: 10px;
	border:3px solid black;
  background-color: white;
	height:900px;
	width: 900px;
	margin:auto;
  overflow: auto;
}
#loginboiler{
  border: 1px solid black;
  width: 300px;
  height: 500px;
}
#title{
	font-size:30px;
}
#curateHome{
  text-align: center;
}
#registerForm{
  text-align: center;
}
#registerBox{
  /*height: 300px;*/
  /*width: 300px;*/
  /*border: 5px solid red;*/
  /*position: absolute;*/

}

#vergeTitle{
  width: 800px;
}

#searchBar{
     position: absolute;
     height: 30px;
     width: 300px;
  z-index: 15;
  top: 30%;
  left: 40%;
  margin: -100px 0 0 -150px;
}

#searchDiv{
  text-align: center;
}

#feedHeader{
  font-family: 'Knewave', cursive;
  font-size: 50px;
}
#aboutjsx{
  font-family: 'Gaegu', cursive;
  text-align: center;
  width: 50%;
  color: chocolate;
  font-weight: 20px;
  position: relative;
  left: 25%;
  top: 30%;
  font-size: 180%;
}
#alignabout{
  top: 150px;
  position: relative;
}
#maincurate{
  display: block;
}
#tech{
  float: left;
}
#news{
  float:left;
}
#startup{
  float:left;
}

.curate{
  font-family: 'Gaegu', cursive;
  font-size: 30px;
  color: blue;
  width:330px;
  text-align: center;
  display: inline-block;
  margin-right: 50px;
}

.feedElements{
  display: flex;
  height: 50px;
}
.homelink{
  display: inline-block;
  width: 30px;
  border:1px solid green ; 

  text-align: center;

}

.feedBorder{
  border: 1px solid black;
  height: 50px;
  flex-wrap:nowrap;
  /*height:50px; */
}

.homeFeed{
  white-space: nowrap;

  font-size: 10px;
  flex:1;
  max-width: 876px;
  /*width:9%;*/
}
.titleFeed{
  white-space: nowrap;
  min-width:20%;
  max-width: 80%;
  font-size: 15px;
  display: inline-block;
  overflow: hidden;
}
.contentFeed{
  white-space: nowrap;
  width:50%;
  font-size: 15px;
  display: inline-block;
  overflow: hidden;

}


.shortFeed{
  width:100%;
  text-align: center;
}
a.homelink{
  width: 100px;
  background-color: red;
}
a.homefeed{
  background-color: blue;
  font-family: 'Playfair Display', serif;
}



body {
  margin: 0;
  padding: 0;
  background-color: #f4c242
}

img{
  margin-top: 20px;
  height:280px;
  width:280px;
}
ul{
  list-style-type: none;
}
div.feed{
  width:1000px;
  color: hotpink;
}
.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: #005f5f;
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
 
@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
  .size{
    height: 250px; 
    width: 250px; 
    padding-right: 20px;
    text-align: center;
    padding-left: 10px;
  }

  #loginform{
    text-align: center;
  }
 

  /* Options 2 - Float
  .nav li {
    float: left;
  }
  .nav ul {
    overflow: auto;
    width: 600px;
    margin: 0 auto;
  }
  .nav {
    background-color: #444;
  }
  */
}